<p [class]="test_class">
  <b>
 Welcome {{name}}
 {{2+2}}<br>
 <b [class.testdanger] = "hasError">
 {{name.length}}</b>
 <br>
 <b [ngClass] = "messageclass"> 
 {{name.toUpperCase()}}</b>
 <br>
 <b [style.color] = "'red'">
 {{greetUser()}}
 </b>
 <br>
 {{site_url}}
 </b>
 <input disabled type = "text" id = "testId">
</p>
<br>
<button (click) = onClick()>Hello click</button>
<br>
{{greeting}}

<br>
<br>
<input #myvalue type = "test">
<button (click) = "logmessage(myvalue.value)">Log</button>


<br>
<br>
<input [(ngModel)] = "uname" type = "text">
{{uname}}

<h1>Use of ngIf directives</h1>
<div *ngIf = "true; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <h2>Amber gautam</h2>
</ng-template>


<ng-template #elseBlock>
  <h2>Amber gautam is hidden</h2>
</ng-template>

ngSwitch example
<div [ngSwitch] = "color">
  <div *ngSwitchCase = "'red'"><h2>You picked Red color</h2></div>
  <div *ngSwitchCase = "'blue'">You picked blue color</div>
  <div *ngSwitchCase = "'green'">You picked green color</div>
  <div *ngSwitchDefault><h2>Pick again</h2></div>

</div>


ngFor return list of directives
<div *ngFor = "let color of colors; index as j">
  <h2>{{j}} {{color}}</h2>
</div>

<h2>{{"Example of Component interaction " + parentData}}</h2>
<hr>
<br>
 
Pipes

<h2>{{name}}</h2>
<h2>{{name | lowercase  }}</h2>
<h2>{{name | uppercase  }}</h2>
<h2>{{name | titlecase  }}</h2>
<h2>{{name | slice:3:5  }}</h2>
<h2>{{jsonobject | json  }}</h2>
<h2>{{ 0.25 | percent  }}</h2>
<h2>{{ 0.25 | currency  }}</h2>
<h2>{{ date | date: 'shortDate' }}</h2>
<h2>{{ date | date: 'shortTime' }}</h2>

<hr>

